---

interface Props {

    id: string, 
    name: string,
    img: string, 
    success: boolean,
    flightNUmber: number,
    details: string

}

const { success, flightNUmber, img, id, details  } = Astro.props;
const succesText = success ? 'Éxito' : 'Fracaso'

---

<a href=`launch/${id}` class="rounded-lg border shadow-md bg-gray-800 border-gray-700 hover:scale-105 hover:bg-gray-700 hover:border-gray-500 transition flex flex-col"></a>

<picture class="flex justifi-center p-4">
    <img class="mb-5 rounded-lg" src=`${img}` alt=`Patch for launch ${id}`>
</picture>

<header>
</header>